parameters:
	excludePaths:
		analyse:
			-	src/phputf8/*
	ignoreErrors:
		-
			message: "#^Call to deprecated method rules\\(\\) of class Doctrine\\\\Common\\\\Inflector\\\\Inflector\\.$#"
			count: 1
			path: src/Inflector.php

		-
			message: """
				#^Call to deprecated method toPlural\\(\\) of class Joomla\\\\String\\\\Inflector\\:
				3\\.0  Use Doctrine\\\\Common\\\\Inflector\\\\Inflector\\:\\:pluralize\\(\\) instead\\.$#
			"""
			count: 1
			path: src/Inflector.php

		-
			message: """
				#^Call to deprecated method toSingular\\(\\) of class Joomla\\\\String\\\\Inflector\\:
				3\\.0  Use Doctrine\\\\Common\\\\Inflector\\\\Inflector\\:\\:singularize\\(\\) instead\\.$#
			"""
			count: 2
			path: src/Inflector.php

		-
			message: "#^Class Joomla\\\\String\\\\Inflector extends deprecated class Doctrine\\\\Common\\\\Inflector\\\\Inflector\\.$#"
			count: 1
			path: src/Inflector.php

		-
			message: "#^Method Joomla\\\\String\\\\Inflector\\:\\:getInstance\\(\\) should return static\\(Joomla\\\\String\\\\Inflector\\) but returns Joomla\\\\String\\\\Inflector\\.$#"
			count: 1
			path: src/Inflector.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: src/Inflector.php
